<hr>
<h3 style='color:darkblue; text-align:center;'><strong>Enriching Chicago Taxi Trip Dataset with Weather Data</strong></h3>
<p style='color:black; font-size:16px; text-align:justify;'>
In this project, we utilize the Open-Meteo.com Weather API to enhance our analysis of the Chicago Taxi Trip dataset. By integrating weather data such as temperature, humidity, and precipitation, we aim to uncover insightful correlations between weather conditions and taxi trip patterns. This integration allows for a more comprehensive understanding of factors influencing taxi demand in Chicago. The Open-Meteo API provides reliable, up-to-date weather information, making it an invaluable resource for our analysis. Acknowledging Open-Meteo as the source of our weather data, we adhere to the principles of transparency and accuracy.
<br><br>
<strong style='color:darkblue;'>Citation (APA):</strong> Zippenfenig, P. (2023). <strong style='color:darkblue;'>Open-Meteo.com Weather API</strong> [Computer software]. Zenodo. <a href="https://doi.org/10.5281/ZENODO.7970649" style='color:darkblue;'><strong>https://doi.org/10.5281/ZENODO.7970649</strong></a>
</p>
<hr>

In [ ]:
import pandas as pd
import requests
import json

# Fetch the data from the API
response = requests.get('https://archive-api.open-meteo.com/v1/archive?latitude=41.85&longitude=-87.65&start_date=2013-01-11&end_date=2023-09-10&hourly=temperature_2m,relativehumidity_2m,precipitation,rain,snowfall,weathercode,windspeed_10m&models=best_match&daily=weathercode,temperature_2m_max,temperature_2m_min,temperature_2m_mean,shortwave_radiation_sum,precipitation_sum,rain_sum,snowfall_sum,precipitation_hours,windspeed_10m_max&timezone=America%2FChicago&min=2013-01-01&max=2023-09-10')

# Load the JSON response
data = response.json()

# Create DataFrames from the 'hourly' and 'daily' data
df_hourly = pd.DataFrame(data['hourly'])
df_daily = pd.DataFrame(data['daily'])


<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'> The purpose of this cell is to set up the environment by importing libraries and to fetch and structure weather data from the Open-Meteo API into DataFrames for further analysis.

In [ ]:
# Set the indices of the DataFrames to be the timestamps
df_hourly.set_index('time', inplace=True)
df_daily.set_index('time', inplace=True)

# Merge the DataFrames
df_merged = pd.merge(df_hourly, df_daily, left_index=True, right_index=True)

# Display the merged DataFrame
print(df_merged)

Empty DataFrame
Columns: [temperature_2m, relativehumidity_2m, precipitation, rain, snowfall, weathercode_x, windspeed_10m, weathercode_y, temperature_2m_max, temperature_2m_min, temperature_2m_mean, shortwave_radiation_sum, precipitation_sum, rain_sum, snowfall_sum, precipitation_hours, windspeed_10m_max]
Index: []

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code block strategically organizes and integrates our weather data. It starts by setting the 'time' column as the index for both hourly and daily weather DataFrames, ensuring alignment on a time basis. We then merge these DataFrames, creating a comprehensive dataset that combines both hourly and daily weather insights. This integrated dataset is key for in-depth analysis of weather patterns and their influence on taxi trip demand.</span>

In [ ]:
df_hourly.head()

,temperature_2m,relativehumidity_2m,precipitation,rain,snowfall,weathercode,windspeed_10m
time,,,,,,,
2013-01-11T00:00,4.6,98,2.4,2.4,0.0,61,22.4
2013-01-11T01:00,5.5,98,1.2,1.2,0.0,55,21.1
2013-01-11T02:00,5.5,98,1.1,1.1,0.0,55,21.4
2013-01-11T03:00,6.5,99,1.8,1.8,0.0,61,22.5
2013-01-11T04:00,7.6,99,1.1,1.1,0.0,55,24.3

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This line of code displays the first five rows of the `df_hourly` DataFrame. It's a simple yet effective way to quickly inspect the structure and the initial entries of our hourly weather data, ensuring that the data is loaded and formatted correctly.</span>

In [ ]:
print(df_hourly.head(10))

                  temperature_2m  relativehumidity_2m  precipitation  rain  \
time
2013-01-11T00:00             4.6                   98            2.4   2.4
2013-01-11T01:00             5.5                   98            1.2   1.2
2013-01-11T02:00             5.5                   98            1.1   1.1
2013-01-11T03:00             6.5                   99            1.8   1.8
2013-01-11T04:00             7.6                   99            1.1   1.1
2013-01-11T05:00             8.6                   99            0.3   0.3
2013-01-11T06:00            10.3                   99            0.3   0.3
2013-01-11T07:00            10.5                   99            0.2   0.2
2013-01-11T08:00            10.4                   99            0.6   0.6
2013-01-11T09:00             9.9                   99            0.4   0.4

                  snowfall  weathercode  windspeed_10m
time
2013-01-11T00:00       0.0           61           22.4
2013-01-11T01:00       0.0           55           21.1
2013-01-11T02:00       0.0           55           21.4
2013-01-11T03:00       0.0           61           22.5
2013-01-11T04:00       0.0           55           24.3
2013-01-11T05:00       0.0           51           22.7
2013-01-11T06:00       0.0           51           22.7
2013-01-11T07:00       0.0           51           21.7
2013-01-11T08:00       0.0           53           22.3
2013-01-11T09:00       0.0           51           22.4

In [ ]:
print(df_hourly.dtypes)
print(df_hourly.index)

temperature_2m         float64
relativehumidity_2m      int64
precipitation          float64
rain                   float64
snowfall               float64
weathercode              int64
windspeed_10m          float64
dtype: object
Index(['2013-01-11T00:00', '2013-01-11T01:00', '2013-01-11T02:00',
       '2013-01-11T03:00', '2013-01-11T04:00', '2013-01-11T05:00',
       '2013-01-11T06:00', '2013-01-11T07:00', '2013-01-11T08:00',
       '2013-01-11T09:00',
       ...
       '2023-09-10T14:00', '2023-09-10T15:00', '2023-09-10T16:00',
       '2023-09-10T17:00', '2023-09-10T18:00', '2023-09-10T19:00',
       '2023-09-10T20:00', '2023-09-10T21:00', '2023-09-10T22:00',
       '2023-09-10T23:00'],
      dtype='object', name='time', length=93480)

***Checking the data types***

In [ ]:
nan_df = df_hourly.isna()
print(nan_df)

                  temperature_2m  relativehumidity_2m  precipitation   rain  \
time
2013-01-11T00:00           False                False          False  False
2013-01-11T01:00           False                False          False  False
2013-01-11T02:00           False                False          False  False
2013-01-11T03:00           False                False          False  False
2013-01-11T04:00           False                False          False  False
...                          ...                  ...            ...    ...
2023-09-10T19:00           False                False          False  False
2023-09-10T20:00           False                False          False  False
2023-09-10T21:00           False                False          False  False
2023-09-10T22:00           False                False          False  False
2023-09-10T23:00           False                False          False  False

                  snowfall  weathercode  windspeed_10m
time
2013-01-11T00:00     False        False          False
2013-01-11T01:00     False        False          False
2013-01-11T02:00     False        False          False
2013-01-11T03:00     False        False          False
2013-01-11T04:00     False        False          False
...                    ...          ...            ...
2023-09-10T19:00     False        False          False
2023-09-10T20:00     False        False          False
2023-09-10T21:00     False        False          False
2023-09-10T22:00     False        False          False
2023-09-10T23:00     False        False          False

[93480 rows x 7 columns]

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This segment of code creates a DataFrame named `nan_df`, which is used to identify missing values (NaNs) in the `df_hourly` DataFrame. By applying the `isna()` method, each cell in `nan_df` corresponds to whether the respective cell in `df_hourly` is NaN or not. The `print(nan_df)` command then outputs this DataFrame, allowing for a quick examination of the presence and distribution of missing values in our hourly weather data.</span>

***Checking for any null values***

In [ ]:
nan_rows = df_hourly.isna().any(axis=1)
print(nan_rows)

time
2013-01-11T00:00    False
2013-01-11T01:00    False
2013-01-11T02:00    False
2013-01-11T03:00    False
2013-01-11T04:00    False
                    ...
2023-09-10T19:00    False
2023-09-10T20:00    False
2023-09-10T21:00    False
2023-09-10T22:00    False
2023-09-10T23:00    False
Length: 93480, dtype: bool

In [ ]:
nan_count = nan_rows.sum()
print(f"Total number of rows with NaN values: {nan_count}")

Total number of rows with NaN values: 0

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code creates a Series named `nan_rows` from the `df_hourly` DataFrame. It applies the `isna()` method combined with `any(axis=1)` to identify any rows that contain at least one NaN (missing value). Each entry in `nan_rows` is a boolean indicating whether the corresponding row in `df_hourly` has any NaN values. The `print(nan_rows)` command outputs this Series, offering an overview of which rows in our hourly weather data have missing information.</span>

In [ ]:
nan_dates = df_hourly.index[nan_rows]
print(nan_dates)

Index([], dtype='object', name='time')

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code creates a Series named `nan_rows` from the `df_hourly` DataFrame. It applies the `isna()` method combined with `any(axis=1)` to identify any rows that contain at least one NaN (missing value). Each entry in `nan_rows` is a boolean indicating whether the corresponding row in `df_hourly` has any NaN values. The `print(nan_rows)` command outputs this Series, offering an overview of which rows in our hourly weather data have missing information.</span>

In [ ]:
nan_summary = df_hourly[nan_rows].isna().sum(axis=1)
print(nan_summary)

time
2023-09-15 19:00:00    7
2023-09-15 20:00:00    7
2023-09-15 21:00:00    7
2023-09-15 22:00:00    7
2023-09-15 23:00:00    7
                      ..
2023-09-21 19:00:00    7
2023-09-21 20:00:00    7
2023-09-21 21:00:00    7
2023-09-21 22:00:00    7
2023-09-21 23:00:00    7
Length: 149, dtype: int64

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code snippet generates a summary of missing values in the `df_hourly` DataFrame. By indexing `df_hourly` with `nan_rows`, we focus on rows that have at least one NaN value. We then apply the `isna()` method followed by `sum(axis=1)`, which counts the number of NaNs in each of these rows. The resulting Series, `nan_summary`, provides a detailed view of the distribution of missing values across the selected rows. Finally, we output this summary using `print(nan_summary)`, offering a concise representation of NaN occurrences in specific rows of our dataset.</span>

In [ ]:
print(df_hourly.index.unique())
print(df_daily.index.unique())

Index(['2013-01-11T00:00', '2013-01-11T01:00', '2013-01-11T02:00',
       '2013-01-11T03:00', '2013-01-11T04:00', '2013-01-11T05:00',
       '2013-01-11T06:00', '2013-01-11T07:00', '2013-01-11T08:00',
       '2013-01-11T09:00',
       ...
       '2023-09-21T14:00', '2023-09-21T15:00', '2023-09-21T16:00',
       '2023-09-21T17:00', '2023-09-21T18:00', '2023-09-21T19:00',
       '2023-09-21T20:00', '2023-09-21T21:00', '2023-09-21T22:00',
       '2023-09-21T23:00'],
      dtype='object', name='time', length=93744)
Index(['2013-01-11', '2013-01-12', '2013-01-13', '2013-01-14', '2013-01-15',
       '2013-01-16', '2013-01-17', '2013-01-18', '2013-01-19', '2013-01-20',
       ...
       '2023-09-12', '2023-09-13', '2023-09-14', '2023-09-15', '2023-09-16',
       '2023-09-17', '2023-09-18', '2023-09-19', '2023-09-20', '2023-09-21'],
      dtype='object', name='time', length=3906)

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code block displays the unique index values for both the `df_hourly` and `df_daily` DataFrames. By calling `print(df_hourly.index.unique())`, we examine the unique timestamps in the hourly data. Similarly, `print(df_daily.index.unique())`, with the text in black, allows us to inspect the unique timestamps in the daily data. This comparison is crucial for understanding the temporal coverage and consistency between these two datasets.It helps in verifying that the indices align correctly, especially important when dealing with time series data where the sequence and continuity of dates and times are critical for accurate analysis.

In [ ]:
from google.cloud import bigquery

# Initialize a BigQuery client
client = bigquery.Client()

# Convert time columns to datetime
df_hourly.index = pd.to_datetime(df_hourly.index)
df_daily.index = pd.to_datetime(df_daily.index)

# Upload the hourly DataFrame
table_id = 'mlops-363723.ChicagoTaxitrips.weather_hourly'
job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE",  # overwrite existing table
)
client.load_table_from_dataframe(df_hourly, table_id, job_config=job_config).result()

# Upload the daily DataFrame
table_id = 'mlops-363723.ChicagoTaxitrips.weather_daily'
job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE",  # overwrite existing table
)
client.load_table_from_dataframe(df_daily, table_id, job_config=job_config).result()

LoadJob<project=mlops-363723, location=US, id=6740581f-f62e-42ad-95ae-f1c3a3c968bd>

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code initiates the process of uploading our weather data to Google BigQuery. It begins by initializing a BigQuery client to handle our data transactions. Next, the indices of both `df_hourly` and `df_daily` DataFrames are converted to datetime format, ensuring compatibility with BigQuery's timestamp requirements. The following steps involve uploading these DataFrames to BigQuery, with specific tables designated for hourly and daily data (`weather_hourly` and `weather_daily`). The use of `WRITE_TRUNCATE` in the job configuration is crucial as it allows the new data to replace any existing data in these tables, keeping our BigQuery dataset up-to-date and consistent.</span>

In [ ]:
from google.cloud import bigquery
import pandas as pd

# Initialize a BigQuery client
client = bigquery.Client()

# Convert time columns to datetime and reset the index
df_hourly.index = pd.to_datetime(df_hourly.index)
df_hourly = df_hourly.reset_index()

# Upload the hourly DataFrame to a new test table
table_id_new = 'mlops-363723.ChicagoTaxitrips.weather_hourly_test'
try:
    client.load_table_from_dataframe(df_hourly, table_id_new).result()
    print("Data uploaded successfully to the test table.")
except Exception as e:
    print(f"Error during upload: {e}")

# If the test table upload is successful and you want to overwrite the main table:
table_id = 'mlops-363723.ChicagoTaxitrips.weather_hourly'
job_config = bigquery.LoadJobConfig(
    write_disposition="WRITE_TRUNCATE",  # overwrite existing table
)

try:
    client.load_table_from_dataframe(df_hourly, table_id, job_config=job_config).result()
    print("Data uploaded successfully to the main table.")
except Exception as e:
    print(f"Error during upload to the main table: {e}")

Data uploaded successfully to the test table.
Data uploaded successfully to the main table.

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code includes steps for preparing and uploading the `df_hourly` DataFrame to Google BigQuery. It starts by converting the index of `df_hourly` to datetime format and resetting it for compatibility. The data is first uploaded to a test table ('weather_hourly_test') to ensure integrity. If this upload is successful, indicated by the "Data uploaded successfully" message, the process proceeds to overwrite the main 'weather_hourly' table in BigQuery, using `WRITE_TRUNCATE` to replace existing data. Exception handling is implemented to catch and report any errors during the upload process.</span>

In [ ]:
from google.cloud import bigquery

client = bigquery.Client()
query = """
SELECT * FROM `mlops-363723.ChicagoTaxitrips.weather_hourly` LIMIT 10;
"""
df = client.query(query).to_dataframe()
print(df)

                       time  temperature_2m  relativehumidity_2m  \
0 2020-09-04 17:00:00+00:00            25.4                   30
1 2020-09-04 16:00:00+00:00            24.9                   30
2 2017-03-08 13:00:00+00:00             8.6                   31
3 2015-10-17 17:00:00+00:00            10.8                   32
4 2016-03-02 13:00:00+00:00            -2.5                   32
5 2017-03-08 12:00:00+00:00             7.9                   32
6 2020-04-13 18:00:00+00:00             6.1                   32
7 2022-10-14 13:00:00+00:00            12.5                   32
8 2020-09-04 15:00:00+00:00            24.1                   32
9 2022-10-14 15:00:00+00:00            14.8                   32

   precipitation  rain  snowfall  weathercode  windspeed_10m
0            0.0   0.0       0.0            0           17.8
1            0.0   0.0       0.0            1           20.1
2            0.0   0.0       0.0            0           44.7
3            0.0   0.0       0.0            0           12.7
4            0.0   0.0       0.0            0           10.5
5            0.0   0.0       0.0            0           43.2
6            0.0   0.0       0.0            0           27.1
7            0.0   0.0       0.0            0           23.8
8            0.0   0.0       0.0            1           18.5
9            0.0   0.0       0.0            1           30.0

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This segment of code is dedicated to retrieving data from Google BigQuery. It starts by initializing a BigQuery client. Then, a query is defined to select the first 10 records from the 'weather_hourly' table. The query is executed, and the results are converted into a DataFrame named `df`, which is then printed. This process is essential for verifying the successful upload and integrity of the data in BigQuery, ensuring that the stored data is accessible and correctly formatted for analysis.</span>

In [ ]:
# Set up the BigQuery client
client = bigquery.Client(project='mlops-363723')

# Define the table names
weather_hourly_table = '`mlops-363723.ChicagoTaxitrips.weather_hourly`'
taxi_trips_demand_table = '`mlops-363723.ChicagoTaxitrips.taxi_trips_demand`'

# Function to calculate missing values and percentages
def calculate_missing_values(table_name):
    query = f"""
    SELECT
        COUNT(*) AS total_rows,
        COUNTIF({table_name} IS NULL) AS missing_values,
        SAFE_DIVIDE(COUNTIF({table_name} IS NULL), COUNT(*)) * 100 AS missing_percentage
    FROM
        {table_name}
    """
    query_job = client.query(query)
    result = query_job.result()
    for row in result:
        total_rows = row.total_rows
        missing_values = row.missing_values
        missing_percentage = row.missing_percentage
        print(f"Table: {table_name}")
        print(f"Total Rows: {total_rows}")
        print(f"Missing Values: {missing_values}")
        print(f"Missing Percentage: {missing_percentage:.2f}%")
        print()

# Calculate missing values for weather_hourly table
calculate_missing_values(weather_hourly_table)

# Calculate missing values for taxi_trips_demand table
calculate_missing_values(taxi_trips_demand_table)

Table: `mlops-363723.ChicagoTaxitrips.weather_hourly`
Total Rows: 93744
Missing Values: 0
Missing Percentage: 0.00%

Table: `mlops-363723.ChicagoTaxitrips.taxi_trips_demand`
Total Rows: 14218579
Missing Values: 0
Missing Percentage: 0.00%

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>This code establishes a procedure for assessing missing values in two key BigQuery tables: `weather_hourly` and `taxi_trips_demand`. After setting up the BigQuery client, a function `calculate_missing_values` is defined to compute and print the total number of rows, the count and percentage of missing values for each table. This function is then executed for both tables, providing vital insights into the completeness and integrity of our datasets. The results indicate the health of the data in terms of missing information, which is crucial for ensuring the reliability of subsequent analyses.</span>

In [ ]:
# Import the BigQuery client library
from google.cloud import bigquery

# Initialize a client for the 'mlops-363723' project
client = bigquery.Client(project='mlops-363723')

# Specify the table name
table_name = '`mlops-363723.ChicagoTaxitrips.taxi_trips_demand_clean`'

# Specify the schema of the table
schema = ['unique_key', 'taxi_id', 'trip_start_timestamp', 'trip_end_timestamp',
          'trip_seconds', 'trip_miles', 'pickup_census_tract', 'dropoff_census_tract', 
          'pickup_community_area', 'dropoff_community_area', 'fare', 'tips', 'tolls', 
          'extras', 'trip_total', 'payment_type', 'company', 'pickup_latitude',
          'pickup_longitude', 'pickup_location', 'dropoff_latitude', 
          'dropoff_longitude', 'dropoff_location', 'public_holiday',
          'rounded_timestamp', 'time', 'temperature_2m', 'relativehumidity_2m', 
          'precipitation', 'rain', 'snowfall', 'weathercode', 'shortwave_radiation', 
          'windspeed_10m']

# For each column in the schema
for column in schema:
    # Create a SQL query
    query = f"""
    SELECT 
        COUNTIF({column} IS NULL) AS missing_count,
        COUNT(*) AS total_count,
        (COUNTIF({column} IS NULL) / COUNT(*)) * 100 AS missing_percentage
    FROM {table_name}
    """
    
    # Run the query
    query_job = client.query(query)
    
    # Fetch the results
    result = query_job.result()
    
    # For each row in the results
    for row in result:
        # Print the column name, missing count, total count, and missing percentage
        print(f"Column: {column}")
        print(f"Missing Count: {row.missing_count}")
        print(f"Total Count: {row.total_count}")
        print(f"Missing Percentage: {row.missing_percentage:.2f}%")
        print("\n")

Column: unique_key
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: taxi_id
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: trip_start_timestamp
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: trip_end_timestamp
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: trip_seconds
Missing Count: 13740
Total Count: 176539029
Missing Percentage: 0.01%


Column: trip_miles
Missing Count: 2506
Total Count: 176539029
Missing Percentage: 0.00%


Column: pickup_census_tract
Missing Count: 47760061
Total Count: 176539029
Missing Percentage: 27.05%


Column: dropoff_census_tract
Missing Count: 47760061
Total Count: 176539029
Missing Percentage: 27.05%


Column: pickup_community_area
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: dropoff_community_area
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: fare
Missing Count: 8887
Total Count: 176539029
Missing Percentage: 0.01%


Column: tips
Missing Count: 8887
Total Count: 176539029
Missing Percentage: 0.01%


Column: tolls
Missing Count: 29131740
Total Count: 176539029
Missing Percentage: 16.50%


Column: extras
Missing Count: 8887
Total Count: 176539029
Missing Percentage: 0.01%


Column: trip_total
Missing Count: 8887
Total Count: 176539029
Missing Percentage: 0.01%


Column: payment_type
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: company
Missing Count: 26128294
Total Count: 176539029
Missing Percentage: 14.80%


Column: pickup_latitude
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: pickup_longitude
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: pickup_location
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: dropoff_latitude
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: dropoff_longitude
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: dropoff_location
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: public_holiday
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: rounded_timestamp
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: time
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: temperature_2m
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: relativehumidity_2m
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: precipitation
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: rain
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: snowfall
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: weathercode
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: shortwave_radiation
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%


Column: windspeed_10m
Missing Count: 0
Total Count: 176539029
Missing Percentage: 0.00%

<span style='color:darkblue'><strong>Comment:</strong></span> <span style='color:black'>In this segment, the code is designed to perform a detailed assessment of missing values for each column in the 'taxi_trips_demand_clean' table in BigQuery. The process begins with initializing a BigQuery client and specifying the table schema. For each column in the schema, a SQL query is constructed and executed to calculate the number and percentage of missing values. The results are printed, providing a column-wise breakdown of missing data. This thorough analysis is instrumental in identifying potential data quality issues and guiding data cleaning efforts, ensuring the robustness of the dataset for further analysis.</span>

<hr>
<h3 style='color:darkblue; text-align:center;'><strong>Conclusion</strong></h3>
<p style='color:black; font-size:16px; text-align:justify;'>
In our comprehensive analysis, the decision to focus on <em style='color:darkgreen;'><strong>hourly data granularity</strong></em> was deliberate and crucial. This approach is grounded in the understanding that both weather conditions and taxi trip demand are highly dynamic, exhibiting significant variations within even a single day. By dissecting data on an hourly scale, particularly at the community area level, we unlock a more detailed and actionable insight into the interplay between weather patterns and taxi demand. This granularity is key in accurately capturing the ebb and flow of demand that unfolds over the course of the day, leading to enhanced and effective demand forecasting models. Ultimately, this strategy is tailored to yield granular, timely insights, vital for informed decision-making and efficient resource distribution in the ever-evolving landscape of taxi services in Chicago.
</p>
<hr>